# Core web stack
Flask==2.3.3
flask-cors==4.0.0
python-dotenv==1.0.0
requests==2.31.0

# LangChain ecosystem (Python 3.10+)
langchain==0.3.10
# langchain-core==0.3.10
langsmith==0.1.147
langgraph==0.2.39

# Typing / models
pydantic==2.7.4
typing-extensions==4.8.0

# Database connectors
snowflake-connector-python==3.4.0

# After installing above, manually use below command
# pip install -U langchain-openrouter 

# Successfully installed langchain-core-1.2.22 langchain-openrouter-0.2.0 langsmith-0.7.22 pydantic-2.12.5 pydantic-core-2.41.5 typing-extensions-4.15.0